[submodule "sample-services/account-service"]
    path = sample-services/account-service
    url = https://github.com/lumide/account-service
    branch = dev

[submodule "sample-services/payment-service"]
    path = sample-services/payment-service
    url = https://github.com/lumide/payment-service
    branch = dev

[submodule "sample-services/transaction-service"]
    path = sample-services/transaction-service
    url = https://github.com/lumide/transaction-service
    branch = dev
